.lgc-bg {
    background-color: rgb(242, 242, 242);
}

.lgc-bg-inverse {
    background-color: rgb(22, 50, 92);
}
.slds-modal__container {
    
    max-width: 70rem !important;
    width: 70% !important;
}
.container{
    min-height: 400px;
    /*overflow-y: auto;*/
    overflow: visible;
    background-color: white;
}
.box1{
    padding-left: 20px;
    width:100%;
}