.THIS .fieldwidth{
       width: 240px;
   }
.THIS .custom-loading-text1 {
    transform: rotate(-90deg);
    position: absolute;
    top: -1.5rem;
    left: 2rem;
    white-space: nowrap;
}
.THIS .custom-loading-text2 {
    transform: rotate(-90deg);
    position: absolute;
    top: -1.5rem;
    left: -3rem;
    white-space: nowrap;
}
.THIS .custom-loading-text3 {
    transform: rotate(-90deg);
    position: absolute;
    top: -1.5rem;
    left: -2rem;
    white-space: nowrap;
}