/* Header (grey band) */
.slds-section .slds-section__title {
  background: #f3f2f2;
  border: 1px solid #e5e5e5;
  border-radius: .25rem;
  padding: .5rem .75rem;
}
.slds-section .slds-section__title .slds-section__title-action {
  width: 100%;
  text-align: left;
}
.slds-section .slds-section__title .slds-section__title-action span {
  font-weight: 600;
}

/* Right side stacked layout */
.right-stack > lightning-output-field,
.right-stack > lightning-input-field {
  display: block;
  width: 100%;
}
.right-col .slds-dueling-list { min-height: 12rem; }